<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/booktstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    </head>
    <body>
        <a href="/"><img src="{{url_for('static',filename='books.png')}}" align='left' width="100px" height="50px"></a>
        <div align="center">
            <h3>Elenco libri</h3>
            <table border="1" align="center">
                <tr>
                    <td> idLibro </td>
                    <td> Titolo  </td>
                    <td> Autore  </td>
                    <td> Anno pubblicazione  </td>
                    <td> Genere  </td>
                    <td> Recensioni  </td>
                </tr>
                    {% for libri in results %}
                <tr>
                    <td> {{ libri[0] }}  </td>
                    <td> {{ libri[1] }}  </td>
                    <td> {{ libri[2] }}  </td>
                    <td> {{ libri[3] }}  </td>
                    <td> {{ libri[4] }}  </td>
                    <td><a href="{{ libri[5] }}">Vedi recensioni</a>  </td>

                </tr>
                    {% endfor %}
                
            </table>
        </div>
    </body>
</html>